.container{
    height: 550px;
    width: 400px;
    background-color: gray;
    border-radius: 10px;
   
}
.header{
    display: flex;
    justify-content: center;
}
.btnContainer{
    margin-top: 130px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.display input{
    width: 200px;
    height: 20px;
    border: none;
    
}
.display p{
    margin-top: 150px;
    position: fixed;
    font-size: 30px;

}